@model ERManager.Models.TreasuryMoneyTransfer

@{
    ViewData["Title"] = "Create";
}




<div class="container-fluid">
    <!-- Page title box -->
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">لیست</a></li>
            <li class="breadcrumb-item active">گواستنەوەی باڵانس</li>
        </ol>
        <h4 class="page-title">گواستنەوەی باڵانسی قاسە</h4>
    </div>
    <!-- End page title box -->
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card-box">
                <h4 class="header-title m-t-0">کاڵا</h4>
                <p class="text-muted font-14 m-b-20">
                   گواستنەوەی باڵانسی قاسە
                </p>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <!-- Category Dropdown -->
                    <div class="form-group mb-3">
                        <label asp-for="SourceTreasuryId" class="control-label font-16">@Html.DisplayNameFor(model => model.SourceTreasuryId)</label>
                        <select asp-for="SourceTreasuryId" class="form-control form-control-lg select2"
                            asp-items="ViewBag.SourceTreasuryId"></select>
                        <span asp-validation-for="SourceTreasuryId" class="text-danger"></span>
                    </div>
                      <!-- Category Dropdown -->
                    <div class="form-group mb-3">
                        <label asp-for="DestinationTreasuryId" class="control-label font-16">@Html.DisplayNameFor(model => model.DestinationTreasuryId)</label>
                        <select asp-for="DestinationTreasuryId" class="form-control form-control-lg select2"
                            asp-items="ViewBag.DestinationTreasuryId"></select>
                        <span asp-validation-for="DestinationTreasuryId" class="text-danger"></span>
                    </div>

                    <!-- Name -->
                    <div class="form-group mb-3">
                        <label asp-for="Amount" class="control-label font-16">@Html.DisplayNameFor(model => model.Amount)</label>
                        <input asp-for="Amount" class="form-control form-control-lg"
                            placeholder=" بڕ" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <!-- Name -->
                    <div class="form-group mb-3">
                        <label asp-for="Notes" class="control-label font-16">@Html.DisplayNameFor(model => model.Notes)</label>
                        <input asp-for="Notes" class="form-control form-control-lg"
                            placeholder=" تێبینی" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>

                   <!-- Created At -->
                    <div class="form-group mb-3">
                        <label asp-for="CreatedAt" class="control-label font-16">@Html.DisplayNameFor(model => model.CreatedAt)</label>
                        <input asp-for="CreatedAt" class="form-control form-control-lg" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>
                    

                    <div class="form-group mb-2">
                        <input type="submit" value="زیادکردن" class="btn btn-lg btn-primary " />
                        <a aps-aria="" asp-controller="MoneyTransactions" asp-action="Index"class="btn btn-lg btn-info "> گەڕانەوە</a>

                    </div>


                </form>
            </div> <!-- end card-box -->
        </div> <!-- end col -->


    </div>
    <!-- end row -->
</div> <!-- end container-fluid-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
