@model ERManager.Models.ContactPayment
<div class="container-fluid">
    <!-- Page title box -->
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">لیست</a></li>
            <li class="breadcrumb-item active">پارەدان</li>
        </ol>
        <h4 class="page-title"> نوێکردنەوە</h4>
    </div>
    <!-- End page title box -->
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card-box">
                <h4 class="header-title m-t-0">نوێکردنەوە</h4>
                <p class="text-muted font-14 m-b-20">
                   نوێکردنەوە
                </p>

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                     <div class="form-group mb-3">
                        <label asp-for="ContactId" class="control-label font-16">@Html.DisplayNameFor(model => model.ContactId)</label>
                        <select asp-for="ContactId" class="form-control form-control-lg select2"
                            asp-items="ViewBag.ContactId"></select>
                        <span asp-validation-for="ContactId" class="text-danger"></span>
                    </div>



                     <!-- Treasury Dropdown -->
                    <div class="form-group mb-3">
                        <label asp-for="TreasuryId" class="control-label font-16">@Html.DisplayNameFor(model => model.TreasuryId)</label>
                        <select asp-for="TreasuryId" class="form-control form-control-lg select2"
                            asp-items="ViewBag.TreasuryId"></select>
                        <span asp-validation-for="TreasuryId" class="text-danger"></span>
                    </div>
                    
                     <!-- Amount -->
                    <div class="form-group mb-3">
                        <label asp-for="Amount" class="control-label font-16">@Html.DisplayNameFor(model => model.Amount)</label>
                        <input asp-for="Amount" class="form-control form-control-lg" placeholder="بڕی مەسروف" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <!-- Notes -->
                    <div class="form-group mb-3">
                        <label asp-for="Notes" class="control-label font-16">@Html.DisplayNameFor(model => model.Notes)</label>
                        <input asp-for="Notes" class="form-control form-control-lg"
                            placeholder="تێبینی" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>

                    <!-- Created At -->
                    <div class="form-group mb-3">
                        <label asp-for="CreatedAt" class="control-label font-16">@Html.DisplayNameFor(model => model.CreatedAt)</label>
                        <input asp-for="CreatedAt" class="form-control form-control-lg" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>

                   

                    <!-- Category Dropdown -->
                    <div class="form-group mb-3">
                       <input type="Hidden" asp-for="PaymentType" >
                    </div>

                    <div class="form-group mb-3" @(Model.PurchaseInvoiceId != null ? "" : "hidden")>
                        <label  asp-for="PurchaseInvoiceId" class="control-label font-16">@Html.DisplayNameFor(model => model.PurchaseInvoiceId)</label>
                        <input asp-for="PurchaseInvoiceId" class="form-control form-control-lg" placeholder="کۆدی پسوولەی کڕین"readonly  />
                        <span asp-validation-for="PurchaseInvoiceId" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3" @(Model.SaleInvoiceId != null ? "" : "hidden")>
                        <label asp-for="SaleInvoiceId" class="control-label font-16">@Html.DisplayNameFor(model => model.SaleInvoiceId)</label>
                        <input asp-for="SaleInvoiceId" class="form-control form-control-lg" placeholder="کۆدی پسوولەی فڕۆشتن" readonly />
                        <span asp-validation-for="SaleInvoiceId" class="text-danger"></span>
                    </div>
                    <!-- Submit Button -->
                    <div class="form-group mt-4">
                        <input type="submit" value="نوێکردنەوە" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div> <!-- end card-box -->
        </div> <!-- end col -->


    </div>
    <!-- end row -->
</div> <!-- end container-fluid-->

@section Scripts {

}