@model ERManager.Models.Contact

@{
    ViewData["Title"] = "Edit";
}

 
<div class="container-fluid">
    <!-- Page title box -->
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">لیست</a></li>
            <li class="breadcrumb-item active">زیادکردنی بازرگان</li>
        </ol>
        <h4 class="page-title">زیادکردنی بازرگان</h4>
    </div>
    <!-- End page title box -->
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card-box">
                <h4 class="header-title m-t-0">بازرگان</h4>
                <p class="text-muted font-14 m-b-20">
                   زیادکردنی بازرگان
                </p>

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <!-- Contact Type Field -->
                    <div class="form-group">
                        <label asp-for="ContactType" class="control-label"></label>
                        <select asp-for="ContactType" class="form-control" asp-items="ViewBag.ContactType"></select>
                        <span asp-validation-for="ContactType" class="text-danger"></span>
                    </div>

                    <!-- Name -->
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label font-16">@Html.DisplayNameFor(model => model.Name)</label>
                        <input asp-for="Name" class="form-control form-control-lg"
                            placeholder="ناو " />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    
                    <!-- Name -->
                    <div class="form-group mb-3">
                        <label asp-for="Phone" class="control-label font-16">@Html.DisplayNameFor(model => model.Phone)</label>
                        <input asp-for="Phone" class="form-control form-control-lg"
                            placeholder=" موبایل" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>


                    <!-- Amount -->
                    <div class="form-group mb-3">
                        <label asp-for="Address" class="control-label font-16">@Html.DisplayNameFor(model => model.Address)</label>
                        <input asp-for="Address" class="form-control form-control-lg" placeholder=" ناونیشان " />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                     <!-- Amount -->
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label font-16">@Html.DisplayNameFor(model => model.Email)</label>
                        <input asp-for="Email" class="form-control form-control-lg" placeholder=" Email " />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input"  asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>

                    <div class="form-group mb-2">
                        <input type="submit" value="زیادکردن" class="btn btn-lg btn-primary " />
                        <a aps-aria="" asp-controller="Contacts" asp-action="Index"class="btn btn-lg btn-info "> گەڕانەوە</a>

                    </div>
                </form>
            </div> <!-- end card-box -->
        </div> <!-- end col -->


    </div>
    <!-- end row -->
</div> <!-- end container-fluid-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
