@model IEnumerable<ERManager.Models.Contact>

@{
    ViewData["Title"] = "Contacts";
}



 <div class="container-fluid">

                        <!-- Page title box -->
                        <div class="page-title-box">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Tables</a></li>
                                <li class="breadcrumb-item active">بازرگان</li>
                            </ol>
                            <h4 class="page-title">بازرگان</h4>
                        </div>
                        <!-- End page title box -->

                        <div class="row font-16">
                            <div class="col-md-3 mb-4">
                                <div class="card border-secondary shadow-sm" style="background-color: rgb(255, 255, 255);">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <div class="text-left">
                                            <h5 class="card-title display-6 font-weight-bold mb-1">کۆی قەرز</h5>
                                            <p class="card-text text-dark text-warning font-weight-bold display-5 mb-1">@ViewBag.SupplierTotal.ToString("N0")</p>
                                            <p class="text-sm text-muted">Suppliers</p>
                                        </div>
                                        <i class="mdi mdi-chart-areaspline" style="font-size: 2rem; color: #007bff;"></i>
                                    </div>
                                </div> <!-- end card-box-->
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card border-secondary shadow-sm" style="background-color: rgb(255, 245, 220);">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <div class="text-left">
                                            <h5 class="card-title display-6 font-weight-bold mb-1">کۆی قەرز</h5>
                                            <p class="card-text text-dark text-warning font-weight-bold display-5 mb-1">@ViewBag.CustomerTotal.ToString("N0")</p>
                                            <p class="text-sm text-muted">Customers</p>
                                        </div>
                                        <i class="mdi mdi-chart-areaspline" style="font-size: 2rem; color: #007bff;"></i>
                                    </div>
                                </div> <!-- end card-box-->
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card border-secondary shadow-sm" style="background-color: rgb(220, 255, 220);">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <div class="text-left">
                                            <h5 class="card-title display-6 font-weight-bold mb-1">تێکڕای قەرز</h5>
                                            <p class="card-text text-dark text-warning font-weight-bold display-5 mb-1">@ViewBag.Total.ToString("N0")</p>
                                            <p class="text-sm text-muted">Totalling</p>
                                        </div>
                                        <i class="mdi mdi-chart-areaspline" style="font-size: 2rem; color: #007bff;"></i>
                                    </div>
                                </div> <!-- end card-box-->
                            </div>

                            <div class="col-md-3 mb-4">
                                <div class="card border-secondary shadow-sm" style="background-color: rgb(220, 220, 255);">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <div class="text-left">
                                            <h5 class="card-title display-6 font-weight-bold mb-1">ژمارەی بازرگان</h5>
                                            <p class="card-text text-dark text-warning font-weight-bold display-5 mb-1">@Model.Count().ToString("N0")</p>
                                            <p class="text-sm text-muted">-</p>
                                        </div>
                                        <i class="mdi mdi-account-multiple" style="font-size: 2rem; color: #007bff;"></i>
                                    </div>
                                </div> <!-- end card-box-->
                            </div>
                        </div>


                        <div class="row font-16 ">
                            <div class="col-12">
                                <div class="card-box">
                                   <form method="get" id="filterForm">
                                        <div class="row">
                                            <!-- Category Name Filter -->
                                            <div class="col-md-3">
                                                <label for="ContactType">جۆر</label>
                                                <select id="ContactType" name="ContactType" class="form-control select2">
                                                      <option>
                                                            هەموو
                                                     </option>
                                                     <option value="Customer" selected="@(ViewBag.ContactType == "Customer"? "selected" : null)">
                                                            Customer
                                                     </option>
                                                     <option value="Supplier" selected="@(ViewBag.ContactType == "Supplier"? "selected" : null)">
                                                            Supplier
                                                     </option>
                                                     <option value="Both" selected="@(ViewBag.ContactType == "Both"? "selected" : null)">
                                                            Both
                                                     </option>
                                                </select>
                                            </div>

                                            <!-- Notes Text Search -->
                                            <div class="col-md-5">
                                                <label for="Name">گەڕان</label>
                                                <input type="text" id="Name" name="Name" value="@ViewBag.Name" placeholder=" گەڕان بە پێیی ناو و موبایل " class="form-control" />
                                            </div>

                                            <!-- Filter Button -->
                                            <div class="col-md-1">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="btn btn-primary form-control">گەڕان</button>
                                            </div>
                                            <!-- Filter Button -->
                                            <div class="col-md-1">
                                                <label>&nbsp;</label>
                                                <a asp-controller="ContactPayments" asp-action="Create" class="btn btn-danger form-control">پارەدان</a>
                                            </div>
                                            <!-- Filter Button -->
                                            <div class="col-md-1">
                                                <label>&nbsp;</label>
                                                <a asp-controller="ContactPayments" asp-action="CreateInFlow" class="btn btn-success form-control">پارەوەرگرتن</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-box">

                                    <div class="table-rep-plugin">
                                        <div class="table-responsive" >
                        <table id="datatable" class="table table-bordered table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th >@Html.DisplayNameFor(model => model.Phone)</th>
                                    <th >@Html.DisplayNameFor(model => model.Address)</th>
                                    <th >@Html.DisplayNameFor(model => model.IsActive)</th>
                                    <th >بڕی قەرز</th>
                                    <th >Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td class="d-flex  text-dark">
                                            <!-- Display the ID -->
                                            <p style="margin-left:10px" class="text-base fw-medium me-4">
                                                @item.Id
                                            </p>

                                            <!-- Name and ContactType -->
                                            <div class="d-flex align-items-center text-muted">
                                                <div class="ms-4">
                                                    <!-- Name -->
                                                    <div class="text-base fw-bold text-dark">
                                                        <a asp-controller="Contacts" asp-action="ContactBalance" asp-route-contactId=@item.Id asp-route-startDate=@DateTime.Now.Date.ToString("yyyy-MM-dd") asp-route-endDate=@DateTime.Now.AddMonths(1).Date.ToString("yyyy-MM-dd")>@item.Name</a>
                                                    </div>
                                                    <!-- ContactType -->
                                                    <div class="text-sm text-muted">
                                                        @item.ContactType
                                                    </div>
                                                </div>
                                            </div>
                                        </td>



                                        <td>
                                            <a href="tel:@item.Phone">@item.Phone</a>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                        <td>
                                            @{
                                                // Calculating debt by summing up invoice totals and subtracting payments
                                                var totalDebt = 0.0; // Initialize as decimal to handle larger financial sums

                                                if (item.ContactType == ContactType.Customer)
                                                {
                                                    totalDebt = (item.SaleInvoices.Sum(pi => pi.InvoiceTotal)
                                                    - item.ContactPayments.Where(d=>d.PaymentType==PaymentType.Inflow).Sum(cp => cp.Amount));
                                                }
                                                else
                                                {
                                                    totalDebt = item.ContactPayments.Where(d => d.PaymentType == PaymentType.Outflow).Sum(cp => cp.Amount) -
                                                    (item.PurchaseInvoices.Sum(pi => pi.InvoiceTotal));
                                                }

                                            }

                                            <!-- Displaying the debt -->
                                            <span class="fw-bold @((totalDebt < 0) ? "text-danger" : "text-success")">
                                                @totalDebt.ToString("N0")
                                            </span>

                                        </td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn  btn-primary">نوێکردنەوە</a>
                                                <label>&nbsp;</label>
                                                <a asp-controller="Contacts" asp-action="ContactBalance" asp-route-contactId=@item.Id asp-route-startDate=@DateTime.Now.Date.ToString("yyyy-MM-dd") asp-route-endDate=@DateTime.Now.AddMonths(1).Date.ToString("yyyy-MM-dd") class="btn  btn-primary">کەشف حساب</a>
                                                <label>&nbsp;</label>
                                                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;" onsubmit="return confirmDelete();">
                                                    <button type="submit" class="btn btn-danger">سڕینەوە</button>
                                                </form>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                                        </div> <!-- end table-responsive-->

                                    </div> <!-- table-rep-plugin-->
                                 
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                        </div>

                       


                    </div> <!-- end container-fluid-->

@section Scripts {

    <!-- Responsive table -->
    <script src="~/assets/libs/RWD-Table-Patterns/js/rwd-table.min.js" asp-append-version="true"></script>

                   <script>
                    function confirmDelete() {
                        return confirm("ئایا دڵنیایت لە سڕینەوەی ئەم  مەسروفە؟");
                    }
                   </script>

}